@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container-fluid p-0">
    <div class="row text-left">
        <div class="col-md-5 col-md-5">
            <h4 class="text-light">About Us</h4>
            <p class="text-muted">
                This web-application procject was made for APP2000V class at USN Norway.
            </p>
            <p class="text-muted">
                Copyright © 2019 by
                <span>Gruppe 10</span>
            </p>
        </div>
        <div class="col-md-5 col-md-5">
            <h4 class="text-light">Newsletter</h4>
            <p class="text-muted">Stay updated</p>
            <form action="" class="form-inline">
                <div class="col pl-0">
                    <div class="input-group pr-5">
                        <input type="text" class="form-control bg-dark" placeholder="Email">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2 col-sm-12">
            <h4 class="text-light">Follow Us</h4>
            <p class="text-muted">No social media currently</p>
            <div class="column">
                <i class="fab fa-facebook-f fa-3x"></i>
                <i class="fab fa-twitter fa-3x"></i>
            </div>
        </div>
    </div>
</div>