@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td style="width:150px;">
    <div class="btn-group" role="group">
        <button type="button" disabled class="btn btn-dark" href="#">
            <i class="fas fa-edit"></i>
        </button>
        <a type="button" class="btn btn-success" href="@Url.Action("Details/"+Model)">
            <i class="far fa-list-alt"></i>
        </a>
        <button type="button" disabled class="btn btn-dark" href="#">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</td>