@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}
@{
    Layout = "/Views/Shared/_LayoutAccountManage.cshtml";
}

<div class="bg-md-fixed">

    <h4 class="text-normal text-white">@ViewData["Title"]</h4>
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <div class="row text-normal text-white">
        <div class="col-md-6">
            <form id="change-password-form" method="post">
                <div class="form-group">
                    <label asp-for="Input.OldPassword"></label>
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <span asp-validation-for="Input.OldPassword" class="text-alertme"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-alertme"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-alertme"></span>
                </div>
                <div asp-validation-summary="All" class="text-alertme"></div>
                <button type="submit" class="btn btn-sub btn-sub-primary btn-sub-bg">Update password</button>
            </form>
        </div>
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
